<ul class="flex gap-2">

  <li>
    <a
      href="/login"
      class="font-medium text-sm flex items-center justify-center px-3 py-2 rounded-md border border-black/10 hover:bg-black/5 gap-2"
    >
      <i class="ri-login-box-line"></i>
      <span>
        Login
      </span>
    </a>
  </li>
  <li>
    <a
      href="/register"
      class="font-medium text-sm flex items-center justify-center px-3 py-2 rounded-md border border-black/10 hover:bg-black/5 gap-2"
    >
      <i class="ri-user-add-line"></i>
      <span>
        Registro
      </span>
    </a>
  </li>
</ul>